body {
  display: flex;
  min-width: 200px; /* Required for Chrome */
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  width: fit-content;
  padding: 10px 30px;
}
body div {
  margin: 10px 0;
  align-self: center;
}
